@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.my-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e2cf81;
}
.my-container .card {
  height: 500px;
  width: 800px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 10px;
}

.my-container .card .form {
  width: 100%;
  height: 100%;
  display: flex;
}
.my-container .card .left-side {
  width: 50%;
  background-color: #000;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}
.left-side img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.my-container .card .right-side {
  width: 50%;
  background-color: #efecf2;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}
/* Signup  css */

.sign-up-my-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e2cf81;
}
.sign-up-my-container .card {
  height: 690px;
  width: 800px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 10px;
}

.sign-up-my-container .card .form {
  width: 100%;
  height: 100%;
  display: flex;
}
.sign-up-my-container .card .sign-up-left-side {
  width: 50%;
  background-color: #000;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}
.sign-up-left-side img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.sign-up-my-container .card .sign-up-right-side {
  width: 50%;
  background-color: #efecf2;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}
/* ends here */






.main {
  display: none;
}
.active {
  display: block;
}
.register p {
  display: flex;
  justify-content: end;
  font-size: 13px;
  font-weight: 600;
  color: #2a2739;
}
.register p a {
  text-decoration: none;
  color: blue;
  margin-left: 3px;
}
.hello {
  margin-top: 40px;
  text-align: center;
  color: rgba(0, 162, 8, 0.452);
  font-family: Audiowide, sans-serif;
}
#signup {
  margin-top: 20px;
  text-align: center;
  color: rgba(0, 162, 8, 0.452);
  font-family: Audiowide, sans-serif;
  font-weight: bold;
}
.hello h4 {
  margin-top: 5px;
}
.input_text {
  position: relative;
  margin-top: 16px;
}
.input[type="text"],#text {
  height: 42px;
  width: 100%;
  border: none;
  outline: 0;
  padding: 0 30px;
  font-size: 13px;
  border-radius: 10px;
  border: 1px solid #fff;

}
input[type="password"],input[type="email"] {
  height: 42px;
  width: 100%;
  border: none;
  outline: 0;
  padding: 0 30px;
  font-size: 13px;
  border-radius: 10px;
  padding-right: 33px;
  border: 1px solid #fff;
}
.input_text p {
  margin-top: 4px;
  font-size: 13px;
  margin-left: 10px;
  color: red;
}
.show::placeholder{
  color: red;
}
.danger {
  display: none;
}
.hide {
  display:none
}
.show{
  color: red;
}
.fa-eye-slash {
  position: absolute;
  top: 12px;
  right: 8px;
  cursor: pointer;
  color: #727286;
}
.fa-eye {
  position: absolute;
  top: 12px;
  right: 8px;
  cursor: pointer;
  color: #727286;
}
.fa-envelope {
  position: absolute;
  left: 8px;
  top: 12px;
  color: #e4ac74;
}
.fa-lock,
.fa-user,
.fa-phone {
  position: absolute;
  left: 8px;
  top: 12px;
  color: #e4ac74;
}
.fa-pen-to-square {
  position: absolute;
  left: 8px;
  top: 12px;
  color: #727286;
}

.fa-circle-check {
  position: absolute;
  left: 8px;
  top: 12px;
  color: #e4ac74;
}
.recovery {
  margin-top: 15px;
  font-size: 13px;
  text-align: end;
}
.btn-login {
  margin-top: 15px;
}
.btn-login button {
  height: 45px;
  width: 100%;
  border: none;
  outline: 0;
  background-color: #fe6b68;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
.btn-login button:hover {
  background-color: #f1221e;
}
.right-side hr {
  margin-top: 30px;
  color: #fff;
  border: 0;
  border-top: 1px solid #fff;
}
.or {
  display: flex;
  justify-content: center;
  font-size: 13px;
}
.or p {
  z-index: 2;
  margin-top: -10px;
  background-color: #efecf2;
  padding: 0 4px;
}
.boxes {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.boxes span {
  height: 45px;
  width: 60px;
  border: 1px solid #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s;
}
.boxes span img {
  width: 30px;
  cursor: pointer;
  transition: all 0.5s;
}
.boxes span:hover img {
  width: 35px;
}
.boxes span:hover {
  border: 4px solid #fff;
}
.warning {
  border: 1px solid red !important;
}
@media (max-width: 750px) {
  .my-container .card {
    max-width: 350px;
  }
  .my-container .card .right-side {
    border-radius: 10px;
    width: 100%;
  }
  .my-container .card .left-side {
    display: none;
  }
}

input[type="radio"] {
  accent-color: red;
}

::placeholder {
  font-size: 15px;
  color: rgb(161, 180, 227);
  opacity: 1; /* Firefox */
}

.grid-container {
  display: grid;
  grid-template-rows: 80px 200px;
}
.post_text {
  position: relative;
  margin-top: 16px;
}
#title {
  height: 42px;
  width: 80%;
  padding: 0 30px;
  font-size: 17px;
  border-radius: 10px;
  border: 3px solid rgb(150, 196, 235);
}
#body {
  padding: 0;
  outline-offset: 3px;
  outline-color: rgb(182, 197, 247);
  font-size: 17px;
  border-radius: 10px;
  border: 3px solid rgb(206, 211, 228);
  resize: none;
  width: 80%;
  height: 100px;
}
.btn-post {
  margin-left: 29%;
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  color: whitesmoke;
  background-color: #1877f2;
}
.wrapper {
  display: inline-block;
  position: relative;
}

.upload {
  margin-left: 10px;
  height: 20px;
  pointer-events: none;

  line-height: 90px;
  text-align: center;
}

input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.post-avatar {
  bottom: 10px;
}
.headings {
  background-color: #3b5998;
  color: white;
  padding: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 5px;
}
.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}
.x-container{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.custom-card{
  margin-top: 50px;
}
.modal-div{
  color: #000;
}
.comment_div{
  border:2px solid ;
  padding: 5px;
  border-radius: 10px;
  border-color: #f7f5ec;
}
.comment_input{
  border: none;
  outline:0;
}
.icon-comment{
  font-size: 20px;
  border: none;
  color: #3b5998;
  background: rgb(255, 255, 255);
}
.icon-upload{
  color:#3b5998;
}
.icon-delete{
  background-color: white;
  border: none;
  font-weight: solid;
  font-size: 20px;
}
.edit-btn{
 
  border: none;
  
}